html, body {
    height: 100%;
}
    body {
    margin: 0;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    display: none;
}
